.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;
}

.container > p {
    text-align: left;
    font-size: 1.5rem;
    color: var(--gray-600);
    font-style: italic;
}

.container > h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100rem;
}

@media(max-width:1025px){
    .container{
        padding: 0px 16px; 
        gap: 1rem;
    }

    .container > p {
        text-align: center;
        font-size: 1.5rem;
        color: var(--gray-600);
        font-style: italic;
    }

    .container > h2{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
    }
}